* {
	font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

header {
  background: rgb(28, 126, 192);
  height: 55px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.288);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

#sidebar {
  background: rgb(35, 35, 40);
  width: 17em;
  z-index: 1;
}

#chat {
  flex: 1;
  background: rgb(54, 57, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#chans {
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    width: 14.8em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    border: 1px solid white;
    border-radius: 7px;
  }
}